<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminPortal</servlet-name>
  	<display-name>AdminPortal</display-name>
  	<description></description>
  	<servlet-class>com.operations.AdminPortal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateClass</servlet-name>
  	<display-name>CreateClass</display-name>
  	<description></description>
  	<servlet-class>com.operations.CreateClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateStudent</servlet-name>
  	<display-name>CreateStudent</display-name>
  	<description></description>
  	<servlet-class>com.operations.CreateStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateSubject</servlet-name>
  	<display-name>CreateSubject</display-name>
  	<description></description>
  	<servlet-class>com.operations.CreateSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTeacher</servlet-name>
  	<display-name>CreateTeacher</display-name>
  	<description></description>
  	<servlet-class>com.operations.CreateTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InitializeConnection</servlet-name>
  	<display-name>InitializeConnection</display-name>
  	<description></description>
  	<servlet-class>com.operations.InitializeConnection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowClasses</servlet-name>
  	<display-name>ShowClasses</display-name>
  	<description></description>
  	<servlet-class>com.operations.ShowClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowStudents</servlet-name>
  	<display-name>ShowStudents</display-name>
  	<description></description>
  	<servlet-class>com.operations.ShowStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowSubjects</servlet-name>
  	<display-name>ShowSubjects</display-name>
  	<description></description>
  	<servlet-class>com.operations.ShowSubjects</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowTeachers</servlet-name>
  	<display-name>ShowTeachers</display-name>
  	<description></description>
  	<servlet-class>com.operations.ShowTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminPortal</servlet-name>
  	<url-pattern>/AdminPortal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateClass</servlet-name>
  	<url-pattern>/CreateClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateStudent</servlet-name>
  	<url-pattern>/CreateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateSubject</servlet-name>
  	<url-pattern>/CreateSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTeacher</servlet-name>
  	<url-pattern>/CreateTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InitializeConnection</servlet-name>
  	<url-pattern>/InitializeConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowClasses</servlet-name>
  	<url-pattern>/ShowClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowStudents</servlet-name>
  	<url-pattern>/ShowStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowSubjects</servlet-name>
  	<url-pattern>/ShowSubjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTeachers</servlet-name>
  	<url-pattern>/ShowTeachers</url-pattern>
  </servlet-mapping>
</web-app>
